<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mi sitio web - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block content %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('hello') }}">Hola</a></li>
            <li><a href="{{ url_for('code', code='print(code)')}}">Código</a></li>
        </ul>
    </nav>
    <!-- Bloque de contenido -->
    {% endblock %}

    <script stc="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>
</html>